<body>
  <div class="profile">
    <div class="profile-header">
      <img src="../../../assets/images/demoProfileImage.JPG" alt="Profile Picture">
      <h1>{{userInfo.firstName}}</h1>
      <p>Admin/Customer</p>
    </div>
    <div class="profile-details">
      <h2>About Me</h2>
      <p>
        Experienced software engineer with a passion for building scalable solutions to complex problems. 
        Skilled in Javascript, Typescript, C#, Asp.net Core, Nodejs, Flutter, Oracle, MySql, MS-SQL and 
        frameworks like Angular. Strong advocate for Agile methodologies and collaborative teamwork. 
        Avid learner, open-source contributor, and outdoor enthusiast.
      </p>
      <h2>Contact Information</h2>
      <p>Email: {{userInfo.email}}</p>
      <p>Phone: {{userInfo.mobile}}</p>
      <h2>Social Media</h2>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/ar1f/">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/Arif119779/">Facebook</a></li>
      </ul>
    </div>
  </div>
</body>
