<div class="container">   
    <div class="modal-title-header mb-5 mt-3">
        <span>{{form.value.id > 0? 'Edit Brand' : 'Create New Brand'}}</span>
    </div>
    <div class="col-md-12 mb-5">
        <form [formGroup]="form" autocomplete="off">
            <mat-form-field class="col-md-12">
                <mat-label>Brand Name</mat-label>
                <input matInput formControlName="brandName" placeholder="Type Brand Name">  
                @if (form.controls['brandName'].status == 'INVALID') {
                    <mat-error>
                        You must enter brand name
                    </mat-error>
                }      
            </mat-form-field>              
        </form>
    </div>
    <div class="d-flex justify-content-end mt-5">
        <button mat-raised-button color="warn" [mat-dialog-close]=false>
            Back
        </button>
        <button class="gap-between-buttons" mat-raised-button (click)="onSubmit()" color="primary">
            Save
        </button>  
    </div>
</div>