<div class="container">
    <div class="col-md-12 form-title-text-border">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="form-title-text">Brand List</span> 
            </div>
            <div>      
                <mat-icon matTooltip="Back" class="sr-10 cp" (click)="commonService.goBackCommand()">arrow_back</mat-icon>
                <mat-icon matTooltip="Refresh" class="sr-10 cp" (click)="refreshComponent()">refresh</mat-icon>
                <mat-icon matTooltip="Add Data" class="save-icon cp" (click)="openBrandModal()">add</mat-icon>
            </div>
        </div>
    </div>
  
    <mat-card class="mat-card-gap">        
        <div>
            <div class="mb-3 mt-2">
                <mat-form-field class="col-md-4">
                    <input matInput 
                           placeholder="Search"
                           (keyup)="applyFilter($event)" 
                           autocomplete="off"
                    >    
                    <mat-icon matPrefix>search</mat-icon>  
                </mat-form-field>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-data-table">
          
              <ng-container matColumnDef="brandName">
                <th mat-header-cell *matHeaderCellDef> Brand Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.brandName}} </td>
              </ng-container>                                      

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef style="text-align: end;"> Action </th>
                <td mat-cell *matCellDef="let element" style="text-align: end;"> 
                    <mat-icon class="cp sr-5" matTooltip="Edit Data" (click)="editBrandById(element)">
                        edit
                    </mat-icon> 
                    <mat-icon class="delete-forever-icon cp" matTooltip="Delete Data" (click)="deleteBrandById(element?.id)">
                        delete_forever
                    </mat-icon> 
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          
    </mat-card>
</div>