.order-summary {
    font-size: 1.1rem;
    font-weight: bold;
}

.table-div {
    padding-bottom: 30px !important;
}

.payment-card {
    max-width: 200px;
    min-height: 120px;
    margin-right: 15px;
    cursor: pointer;
}

.mat-card-setup {
    padding-left: 10px !important;
}