.mat-card-image-table {
    min-height: 30px;
    max-height: 30px;
    min-width: 50px;
    max-width: 50px;
}

.product {
  min-width: 50px !important;
  max-width: 50px !important;
  padding: 5px !important;
}

.shopping-title {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

.product-name {
    font-size: 1rem;
    padding-bottom: 5px;
}

.order-summary {
  font-size: 1.1rem;
  font-weight: bold;
}

.table-div {
    padding-bottom: 30px !important;
}

/* this section start for html table */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: #606ebf !important;
    color: white !important;
  }

  td, th {
    border-bottom: 1px solid #a9a9a9; 
    border-top: 1px solid #a9a9a9; 
    padding: 8px;
  }
  
  td:first-child, th:first-child {
    border-left: 1px solid #a9a9a9; 
  }
  
  td:last-child, th:last-child {
    border-right: 1px solid #a9a9a9;
  }
  
  td, th {
    text-align: center;
  }
  
/* this section end for html table */