<div class="container">
    <div class="col-md-12 form-title-text-border">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="form-title-text">Shopping Cart List</span> 
            </div>
            <div>      
                <button mat-raised-button (click)="cartOrder()" color="primary">
                    Process To Checkout
                </button>
            </div>
        </div>
    </div>
    <div class="table-div">
        <table>
            <thead>
                <tr>
                    <th class="product">Product</th>
                    <th>Quantity</th>
                    <th>Count</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @for(i of cartList; track i.id; let j = $index){
                <tr>
                    <td class="product">
                        <div class="product-name">
                            {{i?.product?.productName}}
                        </div>
                        <div>
                            @if(i.product.imagePath != null && i.product.imagePath != '') {
                                <img class="mat-card-image-table"
                                    [src]="i.product.imagePath" 
                                    [alt]="i.product.productName"
                                >
                            }
                            @else {
                                <img class="mat-card-image-table"
                                    [src]="'../../../assets/images/noImage.jpg'" 
                                    [alt]="i.product.productName"
                                >
                            }
                        </div>
                    </td>
                    <td class="text-center fs-5">
                        {{i?.count}} x {{i?.product?.price | currency}}
                    </td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <button mat-icon-button (click)="removeFromCart(j, i.id)">
                                <mat-icon class="cp card-remove-icon">remove_circle_outline</mat-icon>
                            </button>                        
                            <button mat-button>
                                <input readonly class="card-input-count" [value]="i.count > 0 ? i.count : null">
                            </button>
                            <button mat-icon-button (click)="addToCart(j, i.id)">
                                <mat-icon class="cp card-add-icon">add_circle_outline</mat-icon>
                            </button>
                        </div>                      
                    </td>
                    <td class="text-center fs-5">
                        {{i?.price | number}}
                    </td>
                </tr>    
                }
            </tbody>
        </table>
    </div>
</div>