<body>
<div style="height: 75px;">
<mat-toolbar class="mat-toolbar-modify">
  <div class="d-flex col-md-12">
    <div class="col-md-8">
      <div>
        <img src="../assets/images/cart-logo.png" height="50" width="90" routerLink="" class="app-logo">
        <span class="app-name">Full Cart</span>
        @if(isLoggedInSession == 'Y' && userInfo.userRole == 'Admin') {
          <span>             
            <span (click)="adminDashBoard()" style="cursor: pointer; margin-left: 15px; color: white;">
              <mat-icon class="icon-mod">dashboard</mat-icon>
              Admin Dashboard
            </span>
            <span style="cursor: pointer; margin-left: 15px; color: white;">
              |
            </span>
          </span> 
        }       
        
        @if(isLoggedInSession == 'Y') {
          @if(cartItemCount > 0) {
            <mat-icon matBadge={{cartItemCount}} 
                      matBadgeColor="warn"
                      (click)="showShoppingCart()"
                      class="cart-icon-mod"
                      aria-hidden="false"
            >
              shopping_cart
            </mat-icon>
          }
          @else{
            <mat-icon matBadge={{cartItemNull}} 
                      matBadgeColor="warn"
                      class="cart-icon-mod"
                      aria-hidden="false"
            >
              shopping_cart
            </mat-icon>
          }
        }
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <div>           
        @if((isLoggedIn$ | async) || isLoggedInSession == 'Y') {
          <div class="d-flex justify-content-center align-items-end pt-2">
            <div class="cp" [matMenuTriggerFor]="usermenu">
              {{loginUserName}}
              <img src="../assets/images/demoProfileImage.JPG" height="45" width="45" class="rounded-circle">              
            </div>
            <mat-menu #usermenu="matMenu">
              <button mat-menu-item (click)="showUserProfile()">User Profile</button>
              <button mat-menu-item (click)="showOrderDetails()">Your Orders</button>
              <button mat-menu-item (click)="onLogout()">Sign Out</button>
            </mat-menu>
          </div>
        }
        @else {
          <div class="d-flex pt-2">
            <div>
              <button class="buttons-gap" routerLink="/registration" mat-stroked-button color="primary">
                Register
              </button> 
            </div>
            <div>
              <button class="buttons-gap" routerLink="/login" mat-stroked-button color="primary">
                Login
              </button>
            </div>
          </div>
        }
  
      </div>
    </div>
  </div> 
</mat-toolbar>
</div>

<div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
</body>